.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  background-color: beige;
  padding: 20px;
  text-transform: capitalize;
}

.delete {
  color: rgba(255, 0, 0, 0.733);
  cursor: pointer;
  &:hover {
    color: red;
  }
}

.total {
  font-weight: bold;
  text-align: right;
  margin: 20px;
  font-size: 20px;
}

.paymentInfo {
  color: red;
  margin: 20px;
  font-weight: bold;
}

.header {
  margin-top: 10px;
}
