.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:20px;
    background-color: beige;
    padding:20px;
    text-transform: capitalize;
}

.delete{
    color:rgba(255, 0, 0, 0.733);
    cursor: pointer;
    &:hover{
        color:red;
    }
}

.btn{
    padding:10px;
    background-color: green;
    color:white;
    border:none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .25s;
    &:hover{
        background-color: darkgreen;
    }
}