.center{
  display: flex;
  justify-content: center;
}
.wrapper {
  max-width: 400px;
  transition: all 0.25s;
  overflow: hidden;

  .img {
    max-width: 400px;
  }
  .overCard {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    @media (hover: hover) {
      opacity: 0;
    }
    @media (hover: none) {
      opacity: 0.7;
    }
    padding: 10px 10px;
    top: -100px;
    transition: all 0.25s;
  }

  .text {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: capitalize;
    top: -50px;
    flex-shrink: 1;
  }
  &:hover {
    transform: scale(1.05);
    .overCard {
      cursor: pointer;
      opacity: 0.7;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
