.wrapper {
  width: 400px;
  transition: all 0.25s;

  .img {
    width: 100%;
  }
  .overCard {
    position: relative;
    display: flex;
    width: auto;
    justify-content: center;
    background-color: aliceblue;
    @media (hover: hover) {
      opacity: 0;
    }
    @media (hover: none) {
      opacity: 0.7;
    }
    padding: 0 10px;
    top: -100px;
    transition: all 0.25s;
  }

  .text {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: capitalize;
    top: -50px;
  }
  &:hover {
    transform: scale(1.05);
    .overCard {
      cursor: pointer;
      opacity: 0.7;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
